name: Release Workflow
on:
  pull_request:
  push:
    branches:
      - '[0-9]+.[0-9x]+.x'
      - '[0-9]+.x'
      - master
      - next
      - next-major
      - beta
      - alpha

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: yarn install
      - name: Build
        env:
          CI: ""
        run: yarn build

  release:
    runs-on: ubuntu-latest
    needs: [build-test]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: yarn install
      - name: Build
        env:
          CI: ""
        run: yarn build
      - name: Version & Publish
        run: yarn semantic-release
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
